# Dependencies
node_modules
**/node_modules

# Build outputs
**/dist
**/.next
**/.turbo

# Dev / test artifacts
**/*.spec.ts
**/*.test.ts
**/jest.config.*
**/.env
**/.env.*
!**/.env.production.example

# Logs & OS
**/*.log
.DS_Store
Thumbs.db

# Docker itself
Dockerfile*
docker-compose*.yml
nginx/

# Git
.git
.gitignore

# IDE
.vscode
.idea
